In [2]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Reading data for csv file

df = pd.read_csv("Amazon - Movies and TV Ratings.csv",low_memory=True)

In [4]:
df.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_new = df.copy()

In [6]:
df.shape

(4848, 207)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Columns: 207 entries, user_id to Movie206
dtypes: float64(206), object(1)
memory usage: 7.7+ MB

In [8]:
df.columns

Index(['user_id', 'Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=207)

In [9]:
df.describe().T

          count      mean       std  min   25%  50%  75%  max
Movie1      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie2      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie3      1.0  2.000000       NaN  2.0  2.00  2.0  2.0  2.0
Movie4      2.0  5.000000  0.000000  5.0  5.00  5.0  5.0  5.0
Movie5     29.0  4.103448  1.496301  1.0  4.00  5.0  5.0  5.0
...         ...       ...       ...  ...   ...  ...  ...  ...
Movie202    6.0  4.333333  1.632993  1.0  5.00  5.0  5.0  5.0
Movie203    1.0  3.000000       NaN  3.0  3.00  3.0  3.0  3.0
Movie204    8.0  4.375000  1.407886  1.0  4.75  5.0  5.0  5.0
Movie205   35.0  4.628571  0.910259  1.0  5.00  5.0  5.0  5.0
Movie206   13.0  4.923077  0.277350  4.0  5.00  5.0  5.0  5.0

[206 rows x 8 columns]

In [10]:
df.isna().sum()

user_id        0
Movie1      4847
Movie2      4847
Movie3      4847
Movie4      4846
            ...
Movie202    4842
Movie203    4847
Movie204    4840
Movie205    4813
Movie206    4835
Length: 207, dtype: int64

## EDA

### movies having maximum views

In [11]:

df.describe().T['count'].sort_values(ascending=False)[:5]

Movie127    2313.0
Movie140     578.0
Movie16      320.0
Movie103     272.0
Movie29      243.0
Name: count, dtype: float64

### movies having maximum ratings

In [12]:
df.drop('user_id', axis=1).sum().sort_values(ascending = False)[:5]

Movie127    9511.0
Movie140    2794.0
Movie16     1446.0
Movie103    1241.0
Movie29     1168.0
dtype: float64

## Average rating for each movie

In [46]:
df.drop('user_id', axis=1).mean()

Movie1      5.000000
Movie2      5.000000
Movie3      2.000000
Movie4      5.000000
Movie5      4.103448
              ...
Movie202    4.333333
Movie203    3.000000
Movie204    4.375000
Movie205    4.628571
Movie206    4.923077
Length: 206, dtype: float64

### Defining top 5 movies with maximum ratings

In [47]:
df.drop('user_id', axis=1).mean().sort_values(ascending = False)[:5]

Movie1     5.0
Movie66    5.0
Movie76    5.0
Movie75    5.0
Movie74    5.0
dtype: float64

## Define the top 5 movies with the least audience.

In [48]:
df.describe().T['count'].sort_values(ascending=True)[:5]

Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0
Name: count, dtype: float64

## Recommendation Model

In [49]:
from surprise import Reader, Dataset

In [50]:
df_melt = df.melt(id_vars = df.columns[0],value_vars=df.columns[1:],var_name="Movies",value_name="Rating")

In [51]:
df_melt

               user_id    Movies  Rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [52]:
df.columns[0]

'user_id'

In [53]:
df.columns[1:]

Index(['Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6', 'Movie7',
       'Movie8', 'Movie9', 'Movie10',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=206)

In [54]:
df[df['user_id']=='A3LKP6WPMP9UKX']

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
rd = Reader()
data = Dataset.load_from_df(df_melt.fillna(0),reader=rd)
data

In [56]:
data.df.head()

          user_id  Movies  Rating
0  A3R5OBKS7OM2IR  Movie1     5.0
1   AH3QC2PC1VTGP  Movie1     0.0
2  A3LKP6WPMP9UKX  Movie1     0.0
3   AVIY68KEPQ5ZD  Movie1     0.0
4  A1CV1WROP5KTTW  Movie1     0.0

In [57]:
from surprise.model_selection import train_test_split

In [58]:
trainset, testset = train_test_split(data,test_size=0.25)

In [59]:
from surprise import SVD, accuracy

In [60]:
#Using SVD (Singular Value Decomposition)
svd = SVD()
svd.fit(trainset)

In [61]:
pred = svd.test(testset)

In [62]:
accuracy.rmse(pred)

RMSE: 1.0249

1.0249251639486376

In [63]:
accuracy.mae(pred)

MAE:  1.0115

1.011454773390933

In [64]:
from surprise.model_selection import cross_validate

In [65]:
results = cross_validate(svd, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0257  1.0270  1.0255  1.0261  0.0007
MAE (testset)     1.0119  1.0124  1.0118  1.0120  0.0003
Fit time          78.00   86.58   92.75   85.77   6.05
Test time         7.31    10.21   6.40    7.98    1.63

In [66]:
def repeat(ml_type,dframe):
    rd = Reader()
    data = Dataset.load_from_df(dframe,reader=rd)
    print(cross_validate(ml_type, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True))
    print("--"*15)
    usr_id ='A3LKP6WPMP9UKX'
    mv = 'Movie1'
    r_u = 0.0
    print(ml_type.predict(usr_id,mv,r_ui = r_u,verbose=True))
    print("--"*15)

In [67]:
repeat(SVD(),df_melt.fillna(df_melt['Rating'].mean()))

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.0850  0.0867  0.0865  0.0861  0.0008
MAE (testset)     0.0097  0.0100  0.0097  0.0098  0.0001
Fit time          88.83   91.12   83.88   87.94   3.02
Test time         9.43    6.45    7.88    7.92    1.22
{'test_rmse': array([0.08502226, 0.0867025 , 0.08654142]), 'test_mae': array([0.00968078, 0.00997231, 0.00966666]), 'fit_time': (88.83023405075073, 91.12089681625366, 83.88204741477966), 'test_time': (9.431806325912476, 6.450280666351318, 7.879794359207153)}
------------------------------
user: A3LKP6WPMP9UKX item: Movie1     r_ui = 0.00   est = 4.39   {'was_impossible': False}
user: A3LKP6WPMP9UKX item: Movie1     r_ui = 0.00   est = 4.39   {'was_impossible': False}
------------------------------

## KNN

In [33]:
from surprise import KNNBasic

In [38]:
knn_model = KNNBasic(k=15, min_k=3, sim_options = {'name': 'pearson_baseline', 'user_based': True}, verbose=True)

In [39]:
results = cross_validate(algo=knn_model, data=data, measures= ['rmse'], cv=2, return_train_measures=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

KeyboardInterrupt:

In [1]:
from sklearn.precomposition import PCA

ModuleNotFoundError: No module named 'sklearn.precomposition'